@import "../../../styles/settings.scss";

.root {
  box-shadow: 2px 3.464px 6px rgba(1, 2, 2, 0.2);
  background-color: $menubar-bg;

  :global(.container) > :global(.row) {
    height: 84px;
  }

  .menu {
    display: flex;
    align-self: stretch;

    ul {
      margin: 0;
      padding: 0;
      display: flex;

      li {
        list-style: none;
        display: flex;
        align-items: stretch;
      }
    }

    a {
      color: $menubar-link;
      text-transform: uppercase;
      font-size: 12px;
      padding: 1rem;
      text-decoration: none;
      display: flex;
      align-items: center;
      border-top: 4px solid $menubar-link-border;
      font-weight: 500;
      letter-spacing: 1px;
      transition: $transition-background;

      &:hover,
      &.active {
        background-color: $menubar-link-active-hover-bg;
        color: $menubar-link-active-hover;
        border-color: $menubar-link-active-hover-border;
      }

      &.active {
        border-color: $menubar-link-active-border;
      }
    }
  }
}
