@import "../../../styles/settings.scss";
@import "../../../styles/animations.scss";

.root {
  box-shadow: 2px 3.464px 6px rgba(1, 2, 2, 0.2);
  background-color: $menubar-bg;

  :global(.container) > :global(.row) {
    min-height: 84px;
  }

  /*HAMBURGER MENU*/
  #hamburgerMenu {
    padding: 15px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    margin: 0;
    outline: none;
  }

  #hamburgerMenu .hamburgerBox {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
  }

  @mixin hamburgerLine {
    width: 100%;
    height: 3px;
    background-color: $topbar-link-hover;
    position: absolute;
  }

  #hamburgerMenu .hamburgerInner{
    @include hamburgerLine;

    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: $transition-translation;
  }

  #hamburgerMenu .hamburgerInner::before,
  #hamburgerMenu .hamburgerInner::after {
    @include hamburgerLine;
    content: '';
    left: 0;

    transition: transform $transition-translation;
  }

  #hamburgerMenu .hamburgerInner::before{
    top: -10px;
  }

  #hamburgerMenu .hamburgerInner::after {
    top: 10px;
  }

  #hamburgerMenu[class~="active"] .hamburgerInner {
    background-color: transparent;
  }

  #hamburgerMenu[class~="active"] .hamburgerInner:before {
    transform: translateY(10px) rotate(45deg);
  }

  #hamburgerMenu[class~="active"] .hamburgerInner:after {
    transform: translateY(-10px) rotate(-45deg);
  }

  #hamburgerMenu {
    display: none;
  }


  /*MENU*/
  .menu {
    display: flex;
    align-self: stretch;

    ul {
      margin: 0;
      padding: 0;
      display: flex;

      li {
        list-style: none;
        display: flex;
        align-items: stretch;
      }
    }

    a {
      @extend .sw-animation;
      color: $menubar-link;
      text-transform: uppercase;
      font-size: 12px;
      padding: 1rem;
      text-decoration: none;
      display: flex;
      align-items: center;
      border-top: 4px solid $menubar-link-border;
      font-weight: 500;
      letter-spacing: 1px;

      &:hover,
      &.active {
        background-color: $menubar-link-active-hover-bg;
        color: $menubar-link-active-hover;
        border-color: $menubar-link-active-hover-border;
      }

      &.active {
        border-color: $menubar-link-active-border;
      }
    }
  }
}

/*MEDIA QUERIES*/
@media (min-width: 769px) and (max-width:1200px) {
  .root {
    min-height: 130px;

    .productSearch {
      padding: 10px;
    }

    .menu {
      padding-left: 10px;
    }
  }
}

@media (min-width: 320px) and (max-width: 768px){
  .root {

    .container {
      padding: 0;
    }

    .divContainer {
      margin: 0;
    }

    .productSearch {
      padding: 10px;
    }

    .menu {
      display: none;
      width: 100%;
    }

    #hamburgerMenu {
      display: inline-block;
    }

    .menu[id~="active"]{
      width: 100%;
      display:flex;
      background-color: $menubar-bg;
    }

    .menu[id~="active"] ul{
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      z-index: 2;
      width: 100%;
      background-color: $menubar-bg;
    }

    .menu[id~="active"] ul li {
      background-color: $menubar-bg;
    }

    #hamburgerMenu[class~="active"] {
      z-index: 3;
      position: absolute;
      right: 30px;
      top: 5px;
    }

  }
}
