@import "../../../styles/settings.scss";

.root {
  padding: $base-padding 0;

  .frame {
    height: 600px;
    width: 100%;
    border: 1px solid black;

    .bigPic {
      background-color: #2a2a2a;
      margin: 15px 0 15px 15px;
      height: 450px;

      img {
        background-color: lightgray;
        height: 100%;
        width: 100%;
      }
    }

    .slide {
      height: 100px;
      margin: 5px 10px 5px 25px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        background-color: transparent;
        border: 1px solid black;
        position: absolute;
        transition: $transition-background;
        &:hover {
          background-color: #d58e32;
          color: white;
          transition: $transition-background;
        }
      }

      .buttonLeft {
        float: left;
        left: -2%;

      }

      .buttonRight {
        float: right;
        right: -2%;
      }

      .slideGallery {

        img{
          height: 100px;
          background-color: lightgray;
          width: 70px;
          margin: 0 6px 0 6px;
        }
      }
    }

    .lvl {
      width: 95%;
      height: 100px;
      border-bottom: 1px solid black;

      .lvlOne {
        display: flex;
        justify-content: space-between;
        height: 50px;

        .title {
          font-weight: bold;
          font-size: 20px;
          margin-top: 15px;
        }

        .rightButtons {
          margin-top: 15px;
          button {
            margin: 0 3px 0 3px;
            background-color: transparent;
            border: 1px solid black;
            transition: $transition-color;
            &:hover {
              background-color: #d58e32;
              color: white;
              transition: $transition-color;
            }
          }
        }
      }

      .lvlOne2 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 50px;

        .rating {
          .views {
            font-size: 13px;
            font-weight: 400;
            margin-left: 15px;
          }
          .add {
            border-left: 1px solid black;
            padding-left: 15px;
          }
        }
      }
    }
  }
}
