@import "../../../styles/settings.scss";

.dropdown {
  background-color: transparent;
  color: $white;
  -webkit-border-radius: 2px;
  border: 1px solid transparent;
  transition: $transition-color;
  &:hover {
    color: $orange;
    transition: $transition-color;
  }

  .position {
    background-color: #212529;
    color: $orange;
  }
}
