@import "../../../styles/settings.scss";
@import "../../../styles/animations.scss";

.root {
  padding: 5rem 0;

}

.border {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border-bottom: 1px solid $brands-border;
  border-top: 1px solid $brands-border;
}

.brands {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-inline-start: 0;

  li {
    display: inline-block;
    margin: 0 20px 0 20px;

    img {
      object-fit: cover;
      overflow: hidden;
      width: 150px;
      height: 150px;
      border: 1px solid $brands-img-border;
    }
  }
}

.button {
  height: 150px;
  width: 50px;
  background-color: $brands-button-bg;
  color: $brands-button-text;
  margin-right: 20px;
}

.button2 {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

.sliderContainer {
  z-index: -100;
  overflow: hidden;

  .fadeIn {
    animation: fadein 1s;
  }

  .fadeInRight {
    animation: fadein 1s, fadeinRight 1s;
  }

  .fadeInLeft {
    animation: fadein 1s, fadeinLeft 1s;
  }

  .slideRight {
    animation: fadeout 1s, slideLeft 1s;
  }

  .slideLeft {
    animation: fadeout 1s, slideRight 1s;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .button {
    margin-right: 0;
  }
  .button2 {
    margin-left: 0;
  }

  .brands li {
    margin: 0 8px 0 8px;
  }
}
