@import "../../../styles/settings.scss";

.root {

  .filterCategoriesTitle {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: solid 1px $filter-categories-title-bottom-color;

    p{
      margin: 10px 0 10px 5px;
      color: $filter-categories-title-text-color;
    }
  }

  .filterCategories {
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    .furniture {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      transition: linear 0.2s;

      p{
        margin: 10px 0 5px 0;

        a {
          margin-left: 5px;
          text-decoration: none;
          color: $filter-categories-text-color;
        }
      }

      .numberCircle {
        background: $filter-categories-background-circle-color;
        border-radius: 0.8em;
        -moz-border-radius: 0.8em;
        -webkit-border-radius: 0.8em;
        color: $filter-categories-text-circle-color;
        display: inline-block;
        font-weight: normal;
        line-height: 1.3em;
        margin-right: 15px;
        text-align: center;
        width: 1.3em;
        margin-top: 10px;
        margin-bottom: 10px;
        justify-content: end;
      }
    }

    .furniture[class~="active"]  {
      margin-left: 15px;

      a{
        color: $filter-categories-text-color-active;
      }

      p {
        color: $filter-categories-text-color-active;
      }

      .numberCircle {
        background-color: $filter-categories-background-number-color-active;
      }
    }

    .sofa {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      transition: linear 0.2s;

      p{
        margin: 10px 0 5px 0;

        a {
          margin-left: 5px;
          text-decoration: none;
          color: $filter-categories-text-color;
        }
      }

      .numberCircle {
        background: $filter-categories-background-circle-color;
        border-radius: 0.8em;
        -moz-border-radius: 0.8em;
        -webkit-border-radius: 0.8em;
        color: $filter-categories-text-circle-color;
        display: inline-block;
        font-weight: normal;;
        line-height: 1.3em;
        margin-right: 15px;
        text-align: center;
        width: 1.3em;
        margin-top: 10px;
        margin-bottom: 10px;
        justify-content: end;
      }
    }

    .sofa[class~="active"]  {
      margin-left: 15px;

      a{
        color: $filter-categories-text-color-active;
      }

      p {
        color: $filter-categories-text-color-active;
      }

      .numberCircle {
        background-color: $filter-categories-background-number-color-active;
      }
    }

    .chair {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      transition: linear 0.2s;

      p{
        margin: 10px 0 5px 0;

        a {
          margin-left: 5px;
          text-decoration: none;
          color: $filter-categories-text-color;
        }
      }

      .numberCircle {
        background: $filter-categories-background-circle-color;
        border-radius: 0.8em;
        -moz-border-radius: 0.8em;
        -webkit-border-radius: 0.8em;
        color: $filter-categories-text-circle-color;
        display: inline-block;
        font-weight: normal;;
        line-height: 1.3em;
        margin-right: 15px;
        text-align: center;
        width: 1.3em;
        margin-top: 10px;
        margin-bottom: 10px;
        justify-content: end;
      }
    }

    .chair[class~="active"]  {
      margin-left: 15px;

      a{
        color: $filter-categories-text-color-active;
      }

      p {
        color: $filter-categories-text-color-active;
      }

      .numberCircle {
        background-color: $filter-categories-background-number-color-active;
      }
    }

    .table {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      transition: linear 0.2s;

      p{
        margin: 10px 0 5px 0;

        a {
          margin-left: 5px;
          text-decoration: none;
          color: $filter-categories-text-color;
        }
      }

      .numberCircle {
        background: $filter-categories-background-circle-color;
        border-radius: 0.8em;
        -moz-border-radius: 0.8em;
        -webkit-border-radius: 0.8em;
        color: $filter-categories-text-circle-color;
        display: inline-block;
        font-weight: normal;;
        line-height: 1.3em;
        margin-right: 15px;
        text-align: center;
        width: 1.3em;
        margin-top: 10px;
        margin-bottom: 10px;
        justify-content: end;
      }
    }

    .table[class~="active"]  {
      margin-left: 15px;

      a{
        color: $filter-categories-text-color-active;
      }

      p {
        color: $filter-categories-text-color-active;
      }

      .numberCircle {
        background-color: $filter-categories-background-number-color-active;
      }
    }

    .bedroom {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      transition: linear 0.2s;

      p{
        margin: 10px 0 5px 0;

        a {
          margin-left: 5px;
          text-decoration: none;
          color: $filter-categories-text-color;
        }
      }

      .numberCircle {
        background: $filter-categories-background-circle-color;
        border-radius: 0.8em;
        -moz-border-radius: 0.8em;
        -webkit-border-radius: 0.8em;
        color: $filter-categories-text-circle-color;
        display: inline-block;
        font-weight: normal;;
        line-height: 1.3em;
        margin-right: 15px;
        text-align: center;
        width: 1.3em;
        margin-top: 10px;
        margin-bottom: 10px;
        justify-content: end;
      }
    }

    .bedroom[class~="active"]  {
      margin-left: 15px;

      a{
        color: $filter-categories-text-color-active;
      }

      p {
        color: $filter-categories-text-color-active;
      }

      .numberCircle {
        background-color: $filter-categories-background-number-color-active;
      }
    }

    .dining {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      transition: linear 0.2s;

      p{
        margin: 10px 0 5px 0;

        a {
          margin-left: 5px;
          text-decoration: none;
          color: $filter-categories-text-color;
        }
      }

      .numberCircle {
        background: $filter-categories-background-circle-color;
        border-radius: 0.8em;
        -moz-border-radius: 0.8em;
        -webkit-border-radius: 0.8em;
        color: $filter-categories-text-circle-color;
        display: inline-block;
        font-weight: normal;;
        line-height: 1.3em;
        margin-right: 15px;
        text-align: center;
        width: 1.3em;
        margin-top: 10px;
        margin-bottom: 10px;
        justify-content: end;
      }
    }

    .dining[class~="active"]  {
      margin-left: 15px;

      a{
        color: $filter-categories-text-color-active;
      }

      p {
        color: $filter-categories-text-color-active;
      }

      .numberCircle {
        background-color: $filter-categories-background-number-color-active;
      }
    }

    .sofa {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      transition: linear 0.2s;

      p{
        margin: 10px 0 5px 0;

        a {
          margin-left: 5px;
          text-decoration: none;
          color: $filter-categories-text-color;
        }
      }

      .numberCircle {
        background: $filter-categories-background-circle-color;
        border-radius: 0.8em;
        -moz-border-radius: 0.8em;
        -webkit-border-radius: 0.8em;
        color: $filter-categories-text-circle-color;
        display: inline-block;
        font-weight: normal;;
        line-height: 1.3em;
        margin-right: 15px;
        text-align: center;
        width: 1.3em;
        margin-top: 10px;
        margin-bottom: 10px;
        justify-content: end;
      }
    }

    .sofa[class~="active"]  {
      margin-left: 15px;

      a{
        color: $filter-categories-text-color-active;
      }

      p {
        color: $filter-categories-text-color-active;
      }

      .numberCircle {
        background-color: $filter-categories-background-number-color-active;
      }
    }
  }
}
