@import "./settings.scss";

.sw-animation {
  transition: 1s;
}

.md-animation {
  transition: .65s;
}

.ft-animation {
  transition: .3s;
}

@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
