$base-padding: 24px;

/* DO NOT USE THOSE VARIABLES IN THE OTHER SCSS FILES! */
$lightGray: #b2b2b2;
$gray: #434343;
$darkGray: #363636;
$lightBlack: #2a2a2a;
$orange: #d58e32;
$lightWhite: #f4f5f7;
$white: #ffffff;
$darkWhite: #e1e1e1;
$lightWhiteBlue: #e0e3ed;
$lightGreyBlue: #7AA3CC;
$lightGreen: #32cd32;
$transparent: transparent;
$red: #ff0000;
$black: #000000;
$yellow: #ffff00;
$blue: #0000ff;
$pink: #ffc0cb;
$green: #008000;

/*Button*/
$button-main-text: $white;
$button-main-bg: $lightBlack;
$button-main-bg-hover: $orange;

$button-outline-border: $lightBlack;
$button-outline-text: $lightBlack;
$button-outline-bg-hover: $lightBlack;
$button-outline-text-hover: $white;
$button-outline-bg: $white;

/*SuggestedProducts*/

$suggestedproducts-bg: $darkGray;

$suggestedproducts-dots-link-bg: $darkWhite;
$suggestedproducts-dots-link-active-hover-bg: $orange;

/*HotDeals*/

$hotdeals-bg: $white;
$hotdeals-border: $darkWhite;

$hotdeals-content-text: $darkGray;

$hotdeals-photo-bg: $lightWhite;

$hotdeals-countdown-bg: $darkGray;
$hotdeals-countdown-text: $white;

$hotdeals-content-stars-text: $lightBlack;

$hotdeals-line-border: $lightBlack;
$hotdeals-line-border-before: $orange;

$hotdeals-pricebutton-hover-bg: $orange;

/*Slider*/

$slider-photo-bg: $lightWhite;
$slider-panel-bg: $darkGray;
$slider-description-text: $white;
$slider-descriptionbutton-bg: $white;
$slider-descriptionbutton-color: $lightBlack;

/*FeatureBox*/
$featurebox-border: $lightGray;
$featurebox-icon-text: $lightBlack;
$featurebox-icon-border: $lightGray;
$featurebox-icon-bg: $white;

$featurebox-content-text: $lightBlack;
$featurebox-content-active-text: $orange;
$featurebox-content-active-icon-text: $white;
$featurebox-content-active-icon-bg: $orange;
$featurebox-content-active-icon-border: $orange;

/*ProductBox*/
$productbox-bg: $white;
$productbox-border: $darkWhite;

$productbox-photo-bg: $lightWhite;

$productbox-sale-bg: $lightBlack;
$productbox-sale-text: $white;

$productbox-content-text: $orange;
$productbox-content-stars-text: $lightBlack;

$productbox-line-border: $lightBlack;
$productbox-line-border-before: $orange;

$productbox-pricebutton-hover-bg: $orange;
$productbox-favoritebutton-active-bg: $lightBlack;
$productbox-favoritebutton-active: $white;

$productbox-oldprice-text: $lightGray;
$productbox-oldprice-bg: $white;

/*NewFerniture*/
$newfurniture-panelbar-border: $darkWhite;

$newfurniture-heading-text: $orange;
$newfurniture-heading-border: $orange;

$newfurniture-menu-text: $lightBlack;
$newfurniture-menu-active-hover-border: $orange;

$newfurniture-dots-list-bg: $white;
$newfurniture-dots-link-bg: $darkWhite;
$newfurniture-dots-link-active-hover-bg: $orange;

/*Gallery*/
$gallery-panelbar-border: $darkWhite;

$gallery-heading-text: $orange;
$gallery-heading-border: $orange;

$gallery-right-big-image-text: $orange;

$gallery-right-button: $lightGreen;
$gallery-right-price-color: $lightGreen;
$gallery-right-button-text: $white;
$galery-right-before-price-text: $lightBlack;

$gallery-left-border-color: $darkWhite;
$gallery-left-text: $lightBlack;
$gallery-left-background-color: $white;
$gallery-left-background-button-color: $lightBlack;
$gallery-left-button-color: $white;

$gallery-left-menu-border-top-color: $white;
$gallery-left-menu-border-bottom-color: $darkWhite;

$gallery-left-menu-active-text: $orange;
$gallery-left-menu-active-border-bottom: $orange;

$gallery-left-stars-color: $lightBlack;

/*ProductSearch*/
$productsearch-border: $lightBlack;
$productsearch-text: $lightBlack;

$productsearch-select-text-hover: $orange;
$productsearch-select-bg: $transparent;
$productsearch-select-dropdown-bg: $white;
$productsearch-select-option-bg: $orange;
$productsearch-select-option-bg-hover: $white;

$productsearch-icon: $orange;

$productsearch-hover-icon: $orange;
$productsearch-hover-button: $orange;

$productsearch-button-bg: $transparent;

$productsearch-input-placeholder: $lightGray;

/*Promotions*/
$promotions-overlay-color: $lightBlack;
$promotions-overlay-text-color: $white;

/*CompanyClaim*/
$companyclaim-bg: $darkGray;

$companyclaim-phonenumber-text: $darkWhite;
$companyclaim-phonenumber-icon: $orange;

$companyclaim-cart-text: $white;
$companyclaim-cart-icon: $orange;

$companyclaim-cartCounter-bg: $darkGray;
$companyclaim-cartCounter-text: $lightWhiteBlue;
$companyclaim-cartCounter-hover-bg: $orange;

/*Feedback*/
$feedback-panelbar-border: $darkWhite;
$feedback-heading-text: $orange;
$feedback-heading-border: $orange;
$feedback-dots-list-bg:  $white;
$feedback-dots-link-bg: $darkWhite;
$feedback-dots-link-active-hover-bg: $orange;

/*Cart Popup*/
$cartpopup-modal-bg: $white;
$cartpopup-panelbar-border: $darkWhite;
$cartpopup-heading-text: $lightBlack;
$cartpopup-productname-text: $orange;
$cartpopup-input-border: $lightBlack;
$cartpopup-productdivide-border: $lightGray;
$cartpopup-summary-border: $lightGray;

/*Footer*/
$footer-claim-bg: $lightBlack;
$footer-bg: $darkGray;
$footer-title-text: $white;
$footer-link-text: $lightGray;
$footer-link-hover-text: $white;
$footer-claim-text: $lightGray;
$footer-claim-link: $lightGray;
$footer-claim-link-hover: $orange;

/*MenuBar*/
$menubar-bg: $white;

$menubar-link: $lightBlack;
$menubar-link-border: $white;
$menubar-link-active-hover: $white;
$menubar-link-active-hover-bg: $orange;
$menubar-link-active-hover-border: $orange;

$menubar-link-active-border: $lightBlack;

/*TopBar*/
$topbar-bg: $gray;

$topbar-link: $white;
$topbar-link-hover: $orange;

/*Login*/
$container-background: $darkWhite;
$button-background: $orange;
$button-hover-background: $gray;
$link-color: $orange;
$link-hover-color: $gray;
$textfiled-background: $white;
$textfiled-boreder-color: $orange;
$textfiled-color-focused: $orange;

/*Brands*/
$brands-border: $lightBlack;
$brands-img-border: $lightBlack;
$brands-button-bg: $lightBlack;
$brands-button-text: $white;

/*Newsletter*/
$newsletter-bg: $darkWhite;
$newsletter-title: $orange;
$newsletter-newsInput-bg: $white;
$newsletter-icon: $orange;
$newsletter-input-border: $darkWhite;
$newsletter-button-bg: $white;
$newsletter-button-text-hover: $white;

/*Filter*/
$main-text: $lightBlack;
$active-link: $orange;
$active-background-circle: $orange;
$inactive-background-circle: $lightBlack;
$main-text-number: $white;
/* ComprasionBox */

$comprasion-bg: $white;
$comprasion-border: $lightBlack;

$comprasion-product-border: $orange;
$comprasion-product-alternative-bg: $orange;

$comprasion-compare-button: $orange;

$comprasion-text-alternative: $white;

/* SmallFurniture */
$title-bg: $darkGray;
$title-text: $white;

$image-bg: $darkWhite;

$productName-hover: $orange;

/* Transition */

$transition-background: .3s;
$transition-color: .3s;
$transition-translation: .3s;

/* FilterByCategories */

$filter-categories-title-text-color: $lightBlack;
$filter-categories-title-bottom-color: $lightBlack;

$filter-categories-text-color: $lightBlack;
$filter-categories-text-color-active: $orange;
$filter-categories-background-number-color-active: $orange;
$filter-categories-text-circle-color: $white;
$filter-categories-background-circle-color: $lightBlack;

/*Register*/

$register-border-color: $lightBlack;
$register-background-title: $lightWhite;
$register-background-button: $lightGreyBlue;
$register-button-text-color: $white;
/* Banner */

$banner-panel-color: $lightBlack;
$banner-panel-description-title-color: $lightWhite;
$banner-panel-description-subtitle-color: $lightWhite;
$banner-panel-path-color: $darkWhite;
$banner-panel-percent-color: $orange;
/* FilterByColor */

$filter-color-red: $red;
$filter-color-black: $black;
$filter-color-yellow: $yellow;
$filter-color-blue: $blue;
$filter-color-pink: $pink;
$filter-color-green: $green;

$filter-color-title-border-bottom: $lightBlack;
$filter-color-title-text-color: $lightBlack;
$filter-color-text-active: $orange;

