@import "../../../styles/settings.scss";

.root {
  display: inline-flex;
  width: 100%;
  padding: 25px 0 25px 0;
  background-color: $newsletter-bg;
  text-align: center;

  .title {
    display: inline-block;
    margin: 0 55px 0 0;
    text-transform: uppercase;
    color: $newsletter-title;
    font-size: 20px;
  }

  .icon {
    color: $newsletter-icon;
    margin-right: 10px;
  }

  .newsInput {
    display: inline-block;
    border-radius: 4px;
    padding: 7px 0 7px 0;
    width: 35%;
    background-color: $newsletter-newsInput-bg;

    input {
      border: none;
      border-left: 1px solid $newsletter-input-border;
      padding-left: 10px;
      width: 85%;

      &:focus {
        outline: none;
      }
    }
  }

  .button {
    margin-left: 15px;
    padding: 8.5px 13px;
    border-radius: 4px;
    background-color: $newsletter-button-bg;

    .icon {
      margin: 0;
    }

    &:hover {
      .icon {
        color: $newsletter-button-text-hover;
      }
    }
  }
}

@media (max-width: 1140px) {
  .root {
    .title, .newsInput {
      margin: 0 auto 15px;
      width: 50%;
    }

    .title {
      display: block;
    }
  }
}

@media (max-width: 767px) {
  .root {
    .newsInput {
      width: 90%;
    }
  }
}
